<%= render 'index', user: @user, book: @book_new %>

<h2>Book detail</h2>
<%= image_tag @book.user.get_profile_image(100,100) %>
<p>
  <%= link_to @user.name, user_path(@user) %>
</p>
<h3>Title</h3>
  <%= @book.title %>
<h3>body</h3>
  <%= @book.body %>
<% if @book.user == current_user %>
  <%= link_to 'Edit', edit_book_path(@book.id) %>
  <%= link_to 'Destroy', book_path(@book), method: :delete %>
<% end %>